@use '../01-Abstracts'as *;



*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0 .8rem rgba($clr-primary, .5);
}

html {

    font-size: 62.5%;


    //# ---- Media ---- //

    @include respond (desktop-big) {
        font-size: 75%; // 1rem = 12px //
    }

    @include respond (tablet-land) {
        font-size: 56.25%; // 1rem = 9px //
    }

    @include respond (tablet-port) {
        font-size: 50%; // 1rem = 8px //
    }

    @include respond (phone-big) {
        font-size: 43.75%; // 1rem = 7px //
    }

    //# ---- ---- //
}