@use '../01-Abstracts'as *;




.main-nav {


    &__list {
        display: flex;
        align-items: center;
        gap: 3.3rem;
    }


    &__item {}


    &__link {

        &:link,
        &:visited {
            color: color('greys.generic-5');
            font-weight: fw(medium);
            font-size: fs(sm-3);
            @include transition(all, .3s, ease-in-out);
        }


        &:hover {
            color: color('primary.base');
        }


        &:focus {
            border: none;
            outline: 1px solid color('greys.dark-6');
            outline-offset: 1rem;
            transition: none;
        }
    }
}


.nav-cta {

    &:link,
    &:visited {
        padding: .7rem 1.8rem;
        color: color('greys.light-9');
        @include darkenBgColor(color('primary.base'));
        border-radius: 12px;
    }
}