@use '../01-Abstracts'as *;
@use '../03-Base'as *;




.main-nav {


    &__list {
        display: flex;
        align-items: center;
        gap: 3.3rem;
    }


    &__item {}


    &__link {

        &:link,
        &:visited {
            color: color('greys.generic-5');
            font-weight: fw(medium);
            font-size: fs(sm-3);
            @include transition(all, .3s, ease-in-out);
        }


        &:hover {
            color: color('primary.base');
        }
    }
}


.nav-cta {

    @extend %cta;
}