@use '../01-Abstracts'as *;
@use 'sass:math';



//$ *******************  Hero  ******************* $//

.hero {

    background-color: color('white-2');
    padding: calc($padding/2) 0 $padding 0;


    &__item-container {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 5rem;
        align-items: center;
    }


    &__text-box {
        @include flex(column, flex-start, flex-start);
        gap: 2.5rem;
    }


    &__title {
        text-align: left;
        font-weight: fw(bold);
        color: color('greys.generic-4');
        line-height: 1;
        letter-spacing: initial;
    }


    &__para {
        font-size: fs(lg-1);
        color: inherit;
        margin-bottom: 3rem;
    }


    &__link-wrapper {
        @include flex(row, center, center);
        gap: 2.5rem;
    }


    &__link {
        white-space: nowrap;
        line-height: 1;

        span {
            font-size: 2.3rem;
        }
    }


    &__delivered {


        &-meals {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-top: 5rem;
        }


        &-imgs {
            display: flex;
            flex-wrap: wrap;
        }

        &-img {
            height: 6rem;
            width: 6rem;
            border-radius: 50%;
            border: 2px solid color('white-2');

            &:not(:last-child) {
                margin-right: -1.8rem;
            }
        }

        &-text {
            font-size: fs(sm-3);
            font-weight: fw(medium);
            margin-bottom: 0;
            color: color('greys.generic-4');


            span {
                color: color('primary.dark-1');
                margin-right: .5rem;
            }
        }
    }
}

//$ *******************  End Of Hero  ******************* $//




//$ *******************  Featured-in  ******************* $//

.featured-in {

    padding: $padding 0;

    &__heading {
        text-transform: uppercase;
        text-align: center;
        font-size: fs(sm-1);
        margin-bottom: 2.4rem;
        opacity: .6;
    }


    &__logos {
        @include flex(row, space-around, center);
    }


    &__logo {
        height: 3rem;
        filter: brightness(0);
        opacity: .4;
    }
}

//$ *******************  End of Featured-in  ******************* $//




//$ *******************  How  ******************* $//

.how {

    padding: $padding-section;

    &__heading {
        margin-bottom: 10rem;
    }


    &__steps {


        &-text {

            @include flex(column, start, start);
            gap: 1.5rem;


            &--number {
                font-size: 8rem;
                color: lighten(color('greys.generic-4'), 50%);
                font-weight: fw(semi-bold);
                line-height: 1;
            }

            &--title {

                margin-bottom: 2rem;

                span {
                    font-size: fs(lg-2);
                    letter-spacing: .5px;
                }
            }
        }


        &-img {
            width: 45%;

            @include respond(tablet-land) {
                width: 38%;
            }

            &-wrapper {
                @include flex;
                position: relative;

                &::before {

                    $size: 60%;

                    content: '';
                    display: block;
                    background-color: color('primary.light-1-a');
                    border-radius: 50%;
                    @include center-pos;
                    z-index: -1;

                    width: $size;
                    // Use instead of height
                    padding-bottom: $size;
                }


                &::after {

                    $size: 85%;

                    content: '';
                    display: block;
                    background-color: color('white-2');
                    border-radius: 50%;
                    @include center-pos;
                    z-index: -2;

                    width: $size;
                    // Use instead of height
                    padding-bottom: $size;
                }
            }
        }
    }
}

//$ *******************  End Of How  ******************* $//




//$ *******************  Meals  ******************* $//

.meals {
    padding: $padding 0;


    // Heading
    &__heading {
        text-align: center;
        margin-bottom: 9rem;

        &--main {
            text-align: center;
        }
    }


    // Content
    &__feature {

        &-img {

            &-wrapper {}
        }


        &-content {
            padding: 2.5rem 3rem 3rem 3rem;

        }


        &-tag {
            font-size: 1rem;
            text-transform: uppercase;
            padding: .3rem .7rem;
            border-radius: 15px;
            color: color('greys.generic-5');
            font-weight: fw(semi-bold);


            &-group {
                @include flex(row, start, center);
                gap: 1rem;
                margin-bottom: .7rem;
            }

            &--vegetarian {
                background-color: color('green-base');
            }

            &--vegan {
                background-color: color('green-light');
            }

            &--paleo {
                background-color: color('yellow-base');
            }
        }


        &-title {
            font-size: 2rem;
            font-weight: fw(semi-bold);
            letter-spacing: normal;
            margin-bottom: 2rem;
        }


        &-stats {
            @include flex(column, center, start);
            align-content: space-between;
            gap: 1.2rem
        }


        &-stat {
            @include flex(row, start, center);
            gap: 1.5rem;

            &--icon {}

            &--text {
                font-size: fs(sm-2);
            }
        }
    }


    &__diets {


        &-title {
            font-size: 2rem;
            font-weight: fw(semi-bold);
            letter-spacing: normal;
            margin-bottom: 2rem;
        }


        &-list {}


        &-item {


            &--icon {}

            &--text {}
        }
    }


    // btn
    &__btn {
        text-align: center;
    }
}

//$ *******************  End Of Meals  ******************* $//